body {
    background-color: rgb(255, 188, 64);
}

* {
    padding: 0;
    text-align: center;
}

h1, li, .order-form{
    background: #faebd7;
}

h1 {
    margin: 0 auto;
    width: 50%;
    height: 75px;

    line-height: 75px;
}
ul{
    background: rgb(122, 122, 122);
    margin: 5px;
}

.header-label {
    background: #faebd7;
    padding: 5px;
    margin: 5px;
    width: 90%;
    list-style-type: none;
    display: inline-block;
}

li {
  padding: 5px;
  margin: 5px;
  width: 90%;
  list-style-type: none;
  display: inline-block
}

li h2 {
    margin: 0 auto;
}

li button {
    height: 25px;
    width: 50%;
    float: left;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}

.wrapper {
    margin: 0 auto;
    height: 100%;
    width: 70%;

    clear: both;
    display: table;
}

.available-food {
    float: left;
    width: 50%
}

.eaten-food{
    float: right;
    width: 50%
}

.order-form{
    padding: 10px 50px;
    display: inline-block;
}
